* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* VIDEO */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
@media (max-width: 400px) {
  .sun-position {
    padding-top: 40%;
    padding-left: 38%;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .sun-position {
    padding-top: 45%;
    padding-left: 38%;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .sun-position {
    padding-top: 15%;
    padding-left: 40%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .sun-position {
    padding-top: 12%;
    padding-left: 41%;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .sun-position {
    padding-top: 9%;
    padding-left: 43%;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .sun-position {
    padding-top: 9%;
    padding-left: 43%;
  }
}

/* SUN */

.sun {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #df7606;
  animation: pulsate 2s ease-in-out infinite;
  z-index: 2;
}

.sun::before,
.sun::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsate 5s ease-in-out infinite;
  z-index: 2;
}

.sun::before {
  animation-delay: 0.5s;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background-color: #f3f1f0;
  opacity: 0.8;
}

.sun::after {
  animation-delay: 1s;
  width: 125%;
  height: 125%;
  top: -12%;
  left: -12%;
  background-color: #d7bb32;
  opacity: 0.2;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* SHIP1 */

.ship2 {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  animation: ship-left 5s alternate infinite;
}

.ship2:hover {
  animation-play-state: paused;
}

.ship3 {
  position: absolute;
  top: 45%;
  right: 70%;
  z-index: 1;
  animation: ship-right 5s alternate infinite;
}

.ship3:hover {
  animation-play-state: paused;
}

.ship4 {
  position: absolute;
  top: 80%;
  right: 50%;
  z-index: 1;
  animation: ship-left 5s alternate infinite;
}

.ship4:hover {
  animation-play-state: paused;
}

@keyframes ship-left {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-20%);
  }
}

@keyframes ship-right {
  0% {
    transform: translate(-20%);
  }

  100% {
    transform: translate(0);
  }
}

/**/

@keyframes myAnimation {
  0% {
    background-color: red;
    transform: translateX(0);
  }
  50% {
    background-color: blue;
    transform: translateX(200px);
  }
  100% {
    background-color: green;
    transform: translateX(0);
  }
}
